$max-width: 1150px;
$color-main: orangered;
$color-nav: #007090;
$color-title: #007090;
$color-bg: whitesmoke;

$aqi-color-very-good: rgb(59, 204, 255);
$aqi-color-good: rgb(146, 208, 80);
$aqi-color-normal: rgb(255, 255, 0);
$aqi-color-warning: rgb(255, 162, 0);
$aqi-color-bad: rgb(255, 59, 59);
